<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>HW</id>
            <repositories>
                <repository>
                    <id>morningstar-nexus-public</id>
                    <name>Morningstar Nexus - Public</name>
                    <url>https://msnexus.morningstar.com/content/groups/public/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>morningstar-engineering-nexus-snapshots</id>
                    <name>Morningstar Engineering Nexus - Public</name>
                    <url>https://msnexus.morningstar.com/content/repositories/ENGR-snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>morningstar-engineering-nexus-releases</id>
                    <name>Morningstar Engineering Nexus - Public</name>
                    <url>https://msnexus.morningstar.com/content/repositories/ENGR-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>morningstar-nexus-public</id>
                    <name>Morningstar Nexus - Public</name>
                    <url>https://msnexus.morningstar.com/content/groups/public/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>HW</activeProfile>
    </activeProfiles>
</settings>